.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media only screen and (max-width: 1024px) {
  .app{
    background: rgba(251, 252, 255, 1);
  }
}
main.main{
  flex: 1;
  color: #000;
  background: rgb(218,189,221);
  text-align: left;
  background: linear-gradient(90deg, rgba(218,189,221,0.2) 0%, rgba(218,189,221,0) 25%, rgba(218,189,221,0) 75%, rgba(218,189,221,0.2) 100%);
}